.product-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px; 
  padding: 20px;
  background-color: #f8f9fa;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product h2 {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}

.product img {
  margin-bottom: 10px;
  border-radius: 5px;
}

.product p {
  margin: 5px 0;
  font-size: 16px;
  color: #555;
}
button {
  padding: 10px 20px;
  background-color: red;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}